@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary: #4f46e5;
    --secondary: #6366f1;
    --bg: #f8fafc;
    --card: rgba(255, 255, 255, 0.8);
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #ef4444;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #eef2ff, #f8fafc);
    display: flex;
}

h2 {
    display: flex;
    justify-content: center;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, var(--primary), var(--secondary));
    color: white;
    padding: 30px 20px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 40px;
    width: 100%;
}

.card {
    text-align: center;
    background: var(--card);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    margin-bottom: 30px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 28px;
    margin-top: 10px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #6f09c8;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--secondary);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table thead {
    background: #eef2ff;
}

table tr:hover {
    background: #f1f5f9;
}

.status-disponible { color: var(--success); font-weight: 600; }
.status-reservado { color: var(--warning); font-weight: 600; }
.status-vendido { color: var(--danger); font-weight: 600; }

input, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media(max-width:900px){
    .sidebar {
        position: absolute;
        left: -260px;
    }
    .main {
        margin-left: 0;
    }
}

/* Input */
.input-group {
    position: relative;
    margin-bottom: 5px;
}
/* Icono izquierdo, correo o candado */
.input-group i:first-child {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6f09c8;
}

.input-group input {
    width: 100%;
    margin-top: 20px;
    padding: 10px 40px; /* espacio para el icono */
    border-radius: 8px;
}
/* Icono derecho (ojo) */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6f09c8;
}

.input-group input {
    padding-right: 35px; /* espacio para el ojo */
}